//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	&._form-focus {
	}
	&._form-error {
		border: 1px solid $redColor;
	}
}
textarea.input {
	resize: none;
	padding: 0px 0px;
}

input {
	outline: none !important;
}
